<% if new_post.errors.any? %>
  <%= new_post.errors.count %>件のエラーが発生しました。
  <ul>
    <% new_post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>