<div class="col-3">
  <%= render "public/users/info", user: current_user %>
  <%= render "newpost", new_post: @new_post %>
</div>

<div class="col-9">
  <%= render 'error', new_post: @new_post %>
  <h2>投稿一覧</h2>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Text</th>
        <th>♥</th>
        <th>Comment</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <%= render 'table', post: post %>
      <% end %>
    </tbody>
  </table>
</div>


