<div>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>名前</th>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user|  %>
        <tr>
          <td>
            <%= link_to user_path(user.id) do %>
              <%= image_tag user.get_profile_image(50,50) %>
            <% end %>
          </td>
          <td><%= user.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>